In [49]:
import pandas as pd
import numpy as np
import re

In [50]:
f = open("WhatsApp Chat with Young Genius üôâ‚ò∫Ô∏è.txt" , 'r' ,encoding='utf-8')

In [51]:
data = f.read()

In [52]:
pattern = '\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s\S{2}\s-\s'
messages = re.split(pattern,data)[1:]
dates = re.findall(pattern, data)
df = pd.DataFrame({'user_message': messages, 'message_date': dates})
for columns in df['message_date']:
    df['message_date'] = df['message_date'].str.upper()
df['message_date']= df["message_date"].str.replace("-","")
df['message_date']= df["message_date"].str.replace(","," ")
# Print the formatted date
df['message_date'] = pd.to_datetime(df['message_date'])
df['message_date'] = df['message_date'].dt.strftime('%d/%m/%Y %I:%M %p')
df['message_date'] = pd.to_datetime(df['message_date'], format='%d/%m/%Y %I:%M %p')
df['message_date'].dt.date
df.rename(columns={'message_date': 'date'}, inplace=True)

In [53]:
df.head()

                                        user_message                date
0  Messages and calls are end-to-end encrypted. N... 2022-10-22 07:46:00
1  +234 907 465 7467 created group "Young Genius ... 2022-11-05 15:31:00
2        You joined using this group's invite link\n 2022-10-22 07:46:00
3    +91 82985 25725: https://youtu.be/PZVRc9Xmnac\n 2022-10-22 08:14:00
4  +91 82985 25725: PLEASE LIKE SHARE AND SUBSCRI... 2022-10-22 08:28:00

In [54]:
users = []
for message in df['user_message']:
    entry = re.split('([\w\W]+?):\s', message)
    if entry[1:]:  # user name
        users.append(entry[1])
    else:
        users.append('group_notification')
df['user'] = users

In [55]:
df.head()

,user_message,date,user
0,Messages and calls are end-to-end encrypted. N...,2022-10-22 07:46:00,group_notification
1,"+234 907 465 7467 created group ""Young Genius ...",2022-11-05 15:31:00,group_notification
2,You joined using this group's invite link\n,2022-10-22 07:46:00,group_notification
3,+91 82985 25725: https://youtu.be/PZVRc9Xmnac\n,2022-10-22 08:14:00,+91 82985 25725
4,+91 82985 25725: PLEASE LIKE SHARE AND SUBSCRI...,2022-10-22 08:28:00,+91 82985 25725

In [56]:
df

,user_message,date,user
0,Messages and calls are end-to-end encrypted. N...,2022-10-22 07:46:00,group_notification
1,"+234 907 465 7467 created group ""Young Genius ...",2022-11-05 15:31:00,group_notification
2,You joined using this group's invite link\n,2022-10-22 07:46:00,group_notification
3,+91 82985 25725: https://youtu.be/PZVRc9Xmnac\n,2022-10-22 08:14:00,+91 82985 25725
4,+91 82985 25725: PLEASE LIKE SHARE AND SUBSCRI...,2022-10-22 08:28:00,+91 82985 25725
...,...,...,...
2214,+234 813 206 4316: So the 1000th term will be ...,2022-11-11 20:55:00,+234 813 206 4316
2215,+234 813 204 2321 joined using this group's in...,2022-11-11 21:23:00,group_notification
2216,+234 813 206 4316: <Media omitted>\n,2022-11-11 21:48:00,+234 813 206 4316
2217,+234 811 089 9920: <Media omitted>\n,2022-11-11 22:10:00,+234 811 089 9920
2218,+234 906 419 2980 joined using this group's in...,2022-11-11 22:19:00,group_notification

In [57]:
messages = []
for message in df['user_message']:
            entry = re.split('([\w\W]+?):\s', message)
            if entry[1:]:  # user name
                messages.append(" ".join(entry[2:]))
            else:
                messages.append(entry[0])
df['message'] = messages

In [58]:
df.head()

,user_message,date,user,message
0,Messages and calls are end-to-end encrypted. N...,2022-10-22 07:46:00,group_notification,Messages and calls are end-to-end encrypted. N...
1,"+234 907 465 7467 created group ""Young Genius ...",2022-11-05 15:31:00,group_notification,"+234 907 465 7467 created group ""Young Genius ..."
2,You joined using this group's invite link\n,2022-10-22 07:46:00,group_notification,You joined using this group's invite link\n
3,+91 82985 25725: https://youtu.be/PZVRc9Xmnac\n,2022-10-22 08:14:00,+91 82985 25725,https://youtu.be/PZVRc9Xmnac\n
4,+91 82985 25725: PLEASE LIKE SHARE AND SUBSCRI...,2022-10-22 08:28:00,+91 82985 25725,PLEASE LIKE SHARE AND SUBSCRIBE THE CHANNEL IF...

In [59]:
def most_busy_users(df):
    x = df['user'].value_counts().head()
    df = round((df['user'].value_counts() / df.shape[0]) * 100, 2).reset_index().rename(
        columns={'index': 'name', 'user': 'percent'})
    return x,df

In [60]:
most_busy_users(df)

(+234 813 206 4316     551
 +55 62 9178-5156      304
 +91 82985 25725       233
 +237 74290497         192
 group_notification    149
 Name: user, dtype: int64,
                   name  percent
 0    +234 813 206 4316    24.83
 1     +55 62 9178-5156    13.70
 2      +91 82985 25725    10.50
 3        +237 74290497     8.65
 4   group_notification     6.71
 ..                 ...      ...
 74   +234 814 552 5401     0.05
 75     +91 70625 22311     0.05
 76     +92 346 8442403     0.05
 77   +234 703 481 0364     0.05
 78   +234 704 073 7481     0.05

 [79 rows x 2 columns])

In [61]:
from collections import Counter
def most_common_words(df):

    f = open('stop_hinglish.txt','r')
    stop_words = f.read()

    temp = df[df['user'] != 'group_notification']
    temp = temp[temp['message'] != '<Media omitted>\n']

    words = []

    for message in temp['message']:
        for word in message.lower().split():
            if word not in stop_words:
                words.append(word)

    most_common_df = pd.DataFrame(Counter(words).most_common(20))
    return most_common_df

In [62]:
most_common_words(df)

             0   1
0     solution  53
1      message  53
2      deleted  53
3       answer  49
4     question  46
5        solve  42
6       method  37
7            +  37
8   understand  30
9            =  26
10       group  21
11        send  20
12        null  20
13    function  18
14           üòÇ  18
15    integral  17
16     correct  16
17       wrong  16
18     explain  16
19     morning  15

In [63]:
pip install emoji

Requirement already satisfied: emoji in c:\users\91620\anaconda3\lib\site-packages (2.2.0)Note: you may need to restart the kernel to use updated packages.

In [64]:
import emoji
def emoji_helper(df):
    

    emojis = []
    for message in df['message']:
        emojis.extend([c for c in message if c in emoji.EMOJI_DATA])

    emoji_df = pd.DataFrame(Counter(emojis).most_common(len(Counter(emojis))))

    return emoji_df

In [65]:
a =emoji_helper(df)

In [66]:
a

    0   1
0   ü§£  42
1   üòÇ  32
2   üòÖ  21
3   ü§î  16
4   ‚ôÇ  14
.. ..  ..
77  üö∂   1
78  ‚òë   1
79  üòª   1
80  üåù   1
81  üëâ   1

[82 rows x 2 columns]

In [69]:
df

,user_message,date,user,message
0,Messages and calls are end-to-end encrypted. N...,2022-10-22 07:46:00,group_notification,Messages and calls are end-to-end encrypted. N...
1,"+234 907 465 7467 created group ""Young Genius ...",2022-11-05 15:31:00,group_notification,"+234 907 465 7467 created group ""Young Genius ..."
2,You joined using this group's invite link\n,2022-10-22 07:46:00,group_notification,You joined using this group's invite link\n
3,+91 82985 25725: https://youtu.be/PZVRc9Xmnac\n,2022-10-22 08:14:00,+91 82985 25725,https://youtu.be/PZVRc9Xmnac\n
4,+91 82985 25725: PLEASE LIKE SHARE AND SUBSCRI...,2022-10-22 08:28:00,+91 82985 25725,PLEASE LIKE SHARE AND SUBSCRIBE THE CHANNEL IF...
...,...,...,...,...
2214,+234 813 206 4316: So the 1000th term will be ...,2022-11-11 20:55:00,+234 813 206 4316,So the 1000th term will be 45 since it is grea...
2215,+234 813 204 2321 joined using this group's in...,2022-11-11 21:23:00,group_notification,+234 813 204 2321 joined using this group's in...
2216,+234 813 206 4316: <Media omitted>\n,2022-11-11 21:48:00,+234 813 206 4316,<Media omitted>\n
2217,+234 811 089 9920: <Media omitted>\n,2022-11-11 22:10:00,+234 811 089 9920,<Media omitted>\n
2218,+234 906 419 2980 joined using this group's in...,2022-11-11 22:19:00,group_notification,+234 906 419 2980 joined using this group's in...

In [72]:

df['only_date'] = df['date'].dt.date
dates = df['only_date']
        


df['year'] = df['date'].dt.year
years = df['year']
    


df['month_num'] = df['date'].dt.month
df['month'] = df['date'].dt.month_name()
months = df['month']
    


df['day'] = df['date'].dt.day
df['day_name'] = df['date'].dt.day_name()
days = df['day_name']
    

df['hour'] = df['date'].dt.hour
hours = df['hour']
  

df['minute'] = df['date'].dt.minute
minutes = df['minute']

In [84]:
def monthly_timeline(df):
    timeline = df.groupby(['year', 'month_num', 'month']).count()['message'].reset_index()
    time = [timeline['month'][i] + "-" + str(timeline['year'][i]) for i in range(timeline.shape[0])]
    timeline['time'] = time
    return timeline
def daily_timeline(df):
    daily_timeline = df.groupby('only_date').count()['message'].reset_index()
    return daily_timeline
def week_activity_map(df):
    return df['day_name'].value_counts()
def month_activity_map(df):
    return df['month'].value_counts()
def activity_heatmap(df):
    
    user_heatmap = df.pivot_table(index='day_name', columns='period', values='message', aggfunc='count').fillna(0)
    return user_heatmap

In [85]:
monthly_timeline(df)

    year  month_num      month  message            time
0   2022          1    January       71    January-2022
1   2022          2   February       65   February-2022
2   2022          3      March      327      March-2022
3   2022          4      April      192      April-2022
4   2022          5        May       61        May-2022
5   2022          6       June       39       June-2022
6   2022          7       July      111       July-2022
7   2022          8     August      109     August-2022
8   2022          9  September      353  September-2022
9   2022         10    October      789    October-2022
10  2022         11   November      102   November-2022